font-face {
    font-family: "Lato";
    src: url("./assets/Lato-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Lato";
    src: url("./assets/Lato-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: "Lato";
    src: url("./assets/Lato-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Lato";
    src: url("./assets/Lato-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}
body{
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.wrapper {
    max-width: 1020px;
    
    margin: 0 auto;
    padding-top: 69px;
    padding-left: 80px;
    
   
  }
h1{
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-weight: 900;
    text-align: left;
    
}
p{
    width: 940px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-weight: 300;
    text-align: left;
}

.Portfolio__description{
    
    height: 40px;
    padding-top: 27px;
}
.Portfolio__tags{
    display: flex;
    padding-bottom: 20px;
    max-width: 288px;
    justify-content: space-between;

}
.tag{
    height: 20px;
    border-radius: 5px;
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
    text-align: center;
    padding: 0 7px;
    cursor: pointer;
   }

.tag_selected{
    border: 1px solid #c5c5c5;
    color: #dedede;
}
.tag_bordered{
    border: 1px solid #666d89;
    color: #767e9e;
}
.Portfolio{
    height: 864px;
   background:  #2d303a; 
   border-bottom: 6px solid #323746;
}
.layout-4-column {
    display: flex;
    width: 940px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.image__items{
    width: 220px;
    height: 187px;
    padding-bottom: 18px;
}
.about-us__description{
    padding-top: 27px;
    letter-spacing: 0.15px;
}

.layout-3-column {
    display: flex;
    width: 940px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    padding-top: 43px;
}
.employee{
    width: 300px;
    height: 300px; 
}

.about-us{
   height: 722px;
   background:  #f2f2f2; 
   border-bottom: 6px solid #ffffff;
}

.employee__name{
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-weight: 900;
    text-align: left; 
    padding-top: 15px;
}

.employee__title{
    width: 300px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-weight: 400;
    text-align: left;
    padding-top: 11px;
    letter-spacing: 0.055px;
}

.icons{
    display: flex;
    width: 150px;
    padding-top: 21px;
    flex-wrap: wrap;
    justify-content: space-between;
}
