
@font-face {
    font-family: "Lato";
    src: url("./assets/Lato-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Lato";
    src: url("./assets/Lato-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: "Lato";
    src: url("./assets/Lato-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Lato";
    src: url("./assets/Lato-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}
body{
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.wrapper{
    margin: 0 auto;
    width: 1020px;
    height: 89px;
    display: flex;
    justify-content: space-between;
   
    
}
.header{
   background: #2d303a;
   border-bottom: 6px solid #323746;
}

.logo{
    margin: 33px 0 0 40px;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
}
.logo span{
    color: #f06c64;
}
.logo h1{
    font-size: 24px;
    color: #ffffff;
   
}
.navbar{
    width: 370px;
    margin: 41px 42px 0 0;
    height: 100%;
}
 .navbar ul{
     display: flex;
     justify-content: space-between;
     margin: 0;
 }
 .navbar ul li{
    list-style: none;
    margin: 0;
 }

 .navbar ul li:not(:first-child)::before {
  content: ".";
  position: relative;
  color:#494e62; 
  bottom: 3px;
  left: -13px;
  font-size: 12px;
  font-weight: 400;

 }
 .navbar ul li a {
    
    font-size: 12px;
    line-height: 6px;
    color:#ffffff;
    font-weight: 400;
    text-align: left;
    text-decoration: none;
    margin: 0;

 }
 .navbar ul li a:hover {
      
    color:#f06c64;
 }
 /*Слайдер*/
 .slider {
    height: 594px;
    background: #f06c64;
    border-bottom: 6px solid  #ea676b;
 }

 .wrapper-slider{
     width: 1020px;
     height: 600px;
     position: relative;
     margin: 0 auto;
 }

 .slider__iphone-vertical{
    width: 240px;
    height: 483px;
    position: absolute;
    top: 53px;
    left: 112px;
 }

 .slider__iphone-horizontal{
    width: 484px;
    height: 240px;
    position: absolute;
    top: 173px;
    right: 111px;
 }
 .slider__button {
    position: absolute;
    top: 281px;
    width: 16px;
    height: 27px;
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    opacity: .4;

 }
 .slider__button-prev {
    left: 42px;
    background-image: url("./assets/img/arrow.png");
  }
  .slider__button-next {
    right: 40px;
    background-image: url("./assets/img/arrow.png");
    transform:  rotate(180deg);
  }

 .our-services{
    width: 100%;
    background: #f2f2f2;
 }
 .wrapper-our-services{
    width: 1020px;
    height: 495px;
    margin: 0 auto;
    
 }
 .our-services__caption{
    padding-top: 69px;
    padding-left: 39px;
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-weight: 900;
    text-align: left;
   
    
 }

 .our-services__text{
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-weight: 300;
    text-align: justify;
    padding-top: 27px;
    padding-left: 40px;
    margin: 0;
     }
 .layout-6-column{
     display: flex;
     width: 940px;
     padding-top: 49px;
     padding-left: 41px;
     padding-right: 30px;
     margin: 0;
     flex-wrap: wrap;
     justify-content: space-between;
     
     
    
 }
 .services{
    width: 300px;
    margin-bottom: 8px;

 }
 .services h4{
    width: 200px;
    position: absolute;
    padding-left: 79px;
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: Lato;
    font-weight: 900;
    
 }
 .services p{
    width: 220px;
    height: 90px;
    font-size: 12px;
    line-height: 21px;
    color: #767e9e;
    font-weight: normal;
    padding-left: 79px;
    padding-top: 26px;
    margin: 0px;
    text-align: justify;
    white-space: pre-wrap;
 }
 
 .services__icon{
    width: 59px;
    position: absolute;
 }
 
 .icon{
    width: 59px;
    height: 59px;
 }
 